<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>All Players List</title>
</head>
<body>
    <a href="/" id="link">Back To Home</a>
    <a href="/players/new" id="link">Add New Player</a>
    <h1>All Players List</h1>
    <ul>
        <% players.forEach(function(player) { %>
            <li>
                <a href="/players/<%= player.id %>" id="pName"><%= player.name %></a>
                <p>Nationality: <%= player.nationality %></p>
                <p>Team: <%= player.team %></p>
                <a href="/players/<%= player.id %>/edit" id="link">Edit</a>
                <form action="/players/<%= player.id %>?_method=DELETE" method="POST">
                    <button type="submit">Delete</button>
                </form>
            </li>
        <% }); %>
    </ul>

</body>
</html>