<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= player.name %></title>
</head>
<body>
    <a href="/players" id="link">Back</a>
    <h1>Player Name: <%= player.name %></h1>
    <% if (player.image) { %>
    <img src="<%= player.image %>" alt="<%= player.name %>" class="player-image">
    <% } %>
    <p><strong>Rating:</strong> <%= player.rating %></p>
    <p><strong>Nationality:</strong> <%= player.nationality %></p>
    <p><strong>Team:</strong> <%= player.team %></p>
    <p><strong>Is Currently Playing:</strong> <%= player.isCurrentlyPlaying %></p>
    <div id="controls">
        <a href="/players/<%= player._id %>/edit" id="link">Edit</a>
        <form action="/players/<%= player._id %>?_method=DELETE" method="POST" >
            <button type="submit">Delete</button>
        </form>
    </div>
</body>
</html>